RewriteEngine On
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1\.php
RewriteRule ^(.*)\.[\d]{10}\.(css|js)$ $1.$2 [L]
#RewriteEngine On
# Unless directory, remove trailing slash
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^/]+)/$ http://%{HTTP_HOST}/$1 [R=301,L]

# Redirect external .php requests to extensionless URL
#RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
#RewriteRule ^(.+)\.php$ http://%{HTTP_HOST}/$1 [R=301,L]

# Resolve .php file for extensionless PHP URLs
#RewriteRule ^([^/.]+)$ $1.php [L]


RewriteRule ^template/ - [F]
RewriteRule ^page/ - [F]
RewriteRule ^function/ - [F]
RewriteRule ^controller/ - [F]
RewriteRule ^config/ - [F]